@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #362923;
    --secondary-color: #2E86AB;
    --accent1-color: #F6F5AE;
    --accent2-color: #F5F749;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #e7a962;
    --nav-link-color: #564138;
    --nav-hover-link-color: #2E86AB;
    --nav-hover-background-color: #f5f79823;
}

h1, h2, p{
    font-family: var(--heading-font);
    color: var(--primary-color);
} /*AQUI VAMOSSS*/

header {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0.1rem;
    background-color: var(--accent1-color);
    margin: 0.5rem;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    max-width: 1000px;
}

.logo img {
    float: left;
    width: 93px;
    height: auto;
}

.photos img {
    width: 940px;
    height: auto;

}

.rectangle-5 {
	width: 158px;
	height: 27px;
	padding: 8px 8px 8px 8px;
	background: #FFFFFF;
	color: #000000;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Roboto Serif";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
}

.map-1 {
    width: 269px;
    height: 269px;
    background: #E6E6E6;
    border-color: #AAAAAA;
    border-width: 1px;
  }


.circle-3 {
	width: 82px;
	height: 82px;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

.circle-1 {
	width: 82px;
	height: 82px;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

.circle-5 {
	width: 82px;
	height: 82px;
	background: #FFFFFF;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    text-align: right
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%
}

.navigation a {
	display: block;
	color: var(--nav-link-color);
    text-decoration: none;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}

main {
    grid-row-start: 2;
    grid-row-end: 3;
}

h1, article {
    display: block;
    width: 100%;
    height: auto;
    float: left;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

/*
img {
    max-width: 220px;
    max-height: 150px;
}*/

.moquplogo {
    width: 42px;
    height: auto;
}

.threeimagesrow {
    display: flex;
    padding: 5px;
    max-width: 3 fr;
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr;

}
/*.threeimagesrow img {
    float: left;
    width: 220px;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 0.5px;
    text-align: right;
    
}*/

.threeimages {
    position: relative;

}
.threeimages img {
    position: absolute;
    height: 15rem;
    z-index: -1;
    border-radius: 20px;
}

.threeimages h1 {
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    width: auto;
}

.threeimages p {
    z-index: 1;
    border: auto;
    margin-top: 40%;
    background-color: rgba(255, 255, 255, 0.4);
    height: 4rem;
    font-size: 0.7rem;
}
